{{ define "main" }}
<div id="main" class="index content">
  <div role="banner" class="logo-container">
    <a href="/">
      <img src="/images/logo.png" alt="{{ .Site.Title }}" class="main-logo-image">
    </a>
  </div>

  <div class="home-announcement-container">
    <a href="/research/" class="home-announcement">
      <span class="pill">NEW</span>
      <span class="announcement-text">The COTe score: A decomposable framework for evaluating DLA models</span>
    </a>
  </div>

  <article class="page-content">
    {{ .Content }}
  </article>
</div>
{{ end }}
